@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	background-image: url('images/webtile.jpg');
	/* background: #6f67db; */
	font-family: 'Open Sans', sans-serif;
	color:#eee;

}
.content{
	background:rgba(0,0,0,0.5);
	backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px);
	border-radius:10px;
	padding:15px;
	max-width:900px;
	margin:auto;
	margin-top:20px;
	margin-bottom:25px;
	box-shadow: 10px 10px 5px rgb(0,0,0);
}

a:link {color:#7799ff;}
a:visited {color:#dd88ee;}

.icon {
	float:right;
}
img.anim {
	animation-duration: 3s;
	animation-name: spin;
	animation-iteration-count: infinite;
}

@keyframes spin{ 100%{transform: rotate(360deg);}}

marquee{
	padding-bottom:10px;
}
#gif {
	position: fixed;
	bottom:0;
	right:0;
}

